register printDone autoEmitted 1;
register printDone autoEmitted2 1;
register printDone autoEmitted3 1;
register printDone2 autoEmitted4 1;
register printDone autoEmitted5 1;
register setup main 1;
register change main 2;
register change2 main 3;
register change3 main 4;
register change4 main 5;
register change5 main 6;
register change6 main 7;

dir setup {
	state int check1 5;
	state int check2 10;
	state int check3 10;
	print "Setup'd";
	print check1;
	print check2;
	print check3;
}

//Tests equality of two 
dir change {
	state check1;
	state check1 10;
	print "Changed";
}

//Tests literal autoboxing.
dir change2 {
	state check1;
	state check1 1;
	print "Changed2";
}

//Tests >
dir change3 {
	state check1;
	state check1 15;
	print "Changed3";
}

//Tests !=
dir change4 {
	state check3;
	state check3 15;
	print "Changed4";
}

dir change5 {
	state check1;
	state check1 2;
	print "Changed5";
}

dir change6 {
	state check1;
	state check1 2;
	print check1;
	state check1 5;
}

dir printDone {
	state check1;
	state check1 5;
	print "Done";
}

dir printDone2 {
	state check3;
	state check3 10;
	print "Done";
}

event autoEmitted {
	state check1;
	state check2;
	emitOn check1 == check2;
}

event autoEmitted2 {
	state check1;
	emitOn check1 == 1;
}

event autoEmitted3 {
	state check1;
	state check2;
	emitOn check1 > check2;
}

event autoEmitted4 {
	state check2;
	state check3;
	emitOn check2 != check3;
}

event autoEmitted5 {
	state check1;
	emitOn 2 == check1;
}
